fastapi-common==0.3.11.6
psycopg2-binary==2.9.5; sys_platform == 'linux'
psycopg2-binary==2.9.9; sys_platform == 'darwin'
psycopg2==2.9.5; sys_platform == 'windows'
python-dotenv==1.0.1
python-multipart==0.0.9
passlib
bcrypt==4.1.3
python-jose
fastapi-pagination
sqlmodel